In [1]:
import pandas as pd
import numpy as np
import os
import datetime as dt

In [2]:
os.getcwd()

'/home/adalaber/Documents/Python'

In [3]:
os.chdir('../ejercicios-de-adalab/project-DA-promo-B-module-3-team-3/Datos/data_trips')

In [4]:
trips = pd.read_csv('trips_bikes.csv', index_col=0)

In [5]:
stations = pd.read_csv('stations_info.csv', index_col=0)

In [6]:
trips.head(5)

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
Duration,,,,,,,,
429,2019-10-01 00:01:59,2019-10-01 00:09:08,31214,17th & Corcoran St NW,31203,14th & Rhode Island Ave NW,W23731,Member
1935,2019-10-01 00:03:07,2019-10-01 00:35:23,31269,3rd St & Pennsylvania Ave SE,31269,3rd St & Pennsylvania Ave SE,W22377,Member
563,2019-10-01 00:03:51,2019-10-01 00:13:14,31214,17th & Corcoran St NW,31251,12th & L St NW,W23473,Member
625,2019-10-01 00:05:34,2019-10-01 00:15:59,31301,Ward Circle / American University,31317,Wisconsin Ave & Ingomar St NW,W21371,Member
312,2019-10-01 00:05:47,2019-10-01 00:10:59,31519,1st & O St NW,31109,7th & T St NW,W23666,Member

In [5]:
trips.reset_index(inplace=True)

In [6]:
trips.head(5)

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,429,2019-10-01 00:01:59,2019-10-01 00:09:08,31214,17th & Corcoran St NW,31203,14th & Rhode Island Ave NW,W23731,Member
1,1935,2019-10-01 00:03:07,2019-10-01 00:35:23,31269,3rd St & Pennsylvania Ave SE,31269,3rd St & Pennsylvania Ave SE,W22377,Member
2,563,2019-10-01 00:03:51,2019-10-01 00:13:14,31214,17th & Corcoran St NW,31251,12th & L St NW,W23473,Member
3,625,2019-10-01 00:05:34,2019-10-01 00:15:59,31301,Ward Circle / American University,31317,Wisconsin Ave & Ingomar St NW,W21371,Member
4,312,2019-10-01 00:05:47,2019-10-01 00:10:59,31519,1st & O St NW,31109,7th & T St NW,W23666,Member

In [11]:
trips['Start date'] = pd.to_datetime(trips['Start date']).dt.date()

TypeError: 'Series' object is not callable

In [13]:
trips['Start date'] = trips['Start date'].dt.normalize()

In [14]:
trips.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6941101 entries, 6422367 to 5265223
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   Duration              int64
 1   Start date            datetime64[ns]
 2   End date              object
 3   Start station number  int64
 4   Start station         object
 5   End station number    int64
 6   End station           object
 7   Bike number           object
 8   Member type           object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 529.6+ MB

In [15]:
trips = trips.sort_values(by='Start date', ascending=True)
trips.head(5)

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
6422367,552,2018-01-01,2018-01-01 00:14:18,31104,Adams Mill & Columbia Rd NW,31400,Georgia & New Hampshire Ave NW,W00886,Member
6423179,768,2018-01-01,2018-01-01 16:03:31,31278,18th & R St NW,31305,Connecticut Ave & Newark St NW / Cleveland Park,W01001,Member
6423178,530,2018-01-01,2018-01-01 15:58:43,31401,14th St & Spring Rd NW,31125,15th & W St NW,W20884,Member
6423177,781,2018-01-01,2018-01-01 16:01:12,31224,19th & L St NW,31223,Convention Center / 7th & M St NW,W21647,Member
6423176,481,2018-01-01,2018-01-01 15:55:25,31203,14th & Rhode Island Ave NW,31125,15th & W St NW,W22648,Member

In [23]:
cant_trips =pd.DataFrame(trips['Start date'].value_counts())
cant_trips.reset_index(inplace=True)
cant_trips.sort_values(by='index', inplace=True)
cant_trips

         index  Start date
726 2018-01-01        1213
668 2018-01-02        3792
636 2018-01-03        4748
702 2018-01-04        2368
695 2018-01-05        2709
..         ...         ...
630 2019-12-27        4916
577 2019-12-28        6282
724 2019-12-29        1409
617 2019-12-30        5419
603 2019-12-31        5746

[730 rows x 2 columns]

In [7]:
trips.isnull().sum()

Start date               0
End date                 0
Start station number     0
Start station            0
End station number       0
End station              0
Bike number             14
Member type              0
dtype: int64

In [8]:
trips.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6941101 entries, 429 to 467
Data columns (total 8 columns):
 #   Column                Dtype
---  ------                -----
 0   Start date            object
 1   End date              object
 2   Start station number  int64
 3   Start station         object
 4   End station number    int64
 5   End station           object
 6   Bike number           object
 7   Member type           object
dtypes: int64(2), object(6)
memory usage: 476.6+ MB

In [15]:
trips['Start station number'].unique()

array([31214, 31269, 31301, 31519, 31212, 31324, 31507, 31064, 31603,
       31026, 31246, 31200, 31201, 31308, 31267, 31323, 31241, 31707,
       31275, 31623, 31223, 31610, 31615, 31251, 31228, 31616, 31111,
       31281, 31105, 32220, 31293, 31605, 31314, 31642, 31411, 31306,
       31014, 31013, 31604, 31229, 31277, 31705, 31109, 31226, 31266,
       31232, 31204, 31270, 31506, 32035, 31505, 31706, 31617, 31102,
       31526, 31509, 31302, 31602, 31629, 31040, 31016, 31649, 31244,
       31010, 31418, 31107, 31632, 31045, 31086, 31628, 31052, 31405,
       31910, 31051, 31126, 31203, 31283, 31630, 31280, 31084, 31644,
       31631, 31242, 31516, 31129, 31117, 31110, 31216, 31640, 31417,
       31208, 31298, 31264, 31030, 31101, 31600, 31231, 31626, 31415,
       31255, 31609, 31001, 31652, 31641, 31622, 31315, 31303, 31295,
       31312, 31401, 31659, 31296, 31119, 31527, 32026, 31103, 31624,
       31104, 31112, 31286, 31238, 31606, 31207, 31613, 31035, 31272,
       31917, 31230, 31065, 32068, 31125, 31523, 31285, 31658, 31130,
       31262, 31115, 31645, 31636, 31915, 31131, 31305, 31118, 31612,
       31108, 31651, 31113, 31511, 31120, 31500, 31249, 31913, 31618,
       31319, 31124, 31121, 31268, 31282, 31278, 31625, 31643, 31088,
       31053, 31916, 31611, 31404, 31245, 31906, 31218, 31243, 31400,
       31265, 31627, 31912, 31513, 32008, 31003, 31512, 31114, 31284,
       31309, 31650, 31288, 31123, 31300, 31031, 31263, 31213, 31239,
       31220, 31093, 31514, 31106, 31211, 31079, 31503, 31046, 31522,
       31914, 31413, 31233, 31923, 31002, 31202, 31655, 31256, 31520,
       31049, 31619, 32016, 31024, 31518, 31083, 31116, 31638, 31601,
       31647, 31646, 31043, 31653, 31657, 31299, 31639, 31621, 31307,
       31236, 31524, 31020, 31059, 31614, 31071, 32029, 31237, 31273,
       31294, 31274, 32031, 31091, 31419, 31018, 31025, 31900, 31067,
       32204, 31039, 31041, 31905, 31502, 31100, 31907, 31820, 31234,
       31044, 31802, 31903, 31058, 32082, 31122, 31021, 31069, 31127,
       31608, 31407, 31098, 31099, 31036, 31037, 31918, 31087, 31007,
       31909, 31080, 32014, 31620, 31092, 31089, 31257, 32234, 32058,
       31005, 31224, 31050, 31654, 31047, 31406, 31313, 31247, 32081,
       32001, 31635, 31034, 31019, 31812, 31712, 32056, 32215, 31322,
       31258, 31291, 32412, 31066, 31803, 31128, 31271, 31022, 31634,
       31656, 32046, 31004, 31321, 31310, 32218, 31403, 31073, 31517,
       31042, 31015, 31085, 31529, 31637, 31017, 32024, 32032, 31902,
       31402, 31525, 31908, 31408, 31032, 31801, 31205, 32027, 31222,
       31248, 31261, 31055, 31225, 32235, 31090, 32045, 32004, 31607,
       32084, 31304, 32028, 32214, 31048, 31919, 31805, 31260, 31925,
       31633, 31521, 32055, 31209, 32011, 31289, 32025, 32006, 32071,
       31027, 31254, 31056, 31096, 32009, 31501, 31075, 31250, 31094,
       31077, 31029, 32013, 32049, 31924, 31074, 31078, 31317, 31006,
       31287, 31253, 32021, 31054, 31227, 32230, 31708, 31219, 31028,
       31806, 31920, 31508, 31648, 31412, 31276, 32075, 32606, 32229,
       31921, 31297, 31414, 32039, 32018, 31807, 31011, 32232, 31316,
       32231, 31901, 31279, 31215, 31217, 32057, 31710, 32048, 32604,
       31068, 32605, 32036, 31097, 31012, 32000, 32074, 31062, 31318,
       31813, 31070, 31701, 32067, 31252, 32002, 32078, 31221, 31416,
       31009, 32010, 31240, 32062, 31420, 32033, 32034, 32403, 31290,
       31063, 32083, 31000, 32040, 31259, 31292, 31081, 31904, 31515,
       32607, 32422, 32410, 31076, 31804, 32038, 31082, 31235, 32401,
       31033, 31528, 32414, 32043, 31206, 32003, 31811, 31320, 31060,
       32012, 32221, 32217, 31038, 32418, 32015, 32222, 32017, 32063,
       31818, 32065, 32079, 32213, 32200, 32233, 32225, 32609, 32404,
       31095, 32208, 32206, 32216, 32020, 31822, 31816, 32047, 32072,
       32019, 31800, 32037, 32205, 32224, 32053, 32052, 31700, 32044,
       31713, 32420, 31510, 32602, 31817, 32608, 32064, 32402, 31023,
       32601, 32417, 31057, 32413, 31061, 32408, 32203, 31072, 32416,
       32406, 32415, 32600, 32054, 32603, 32066, 32077, 32073, 32210,
       32050, 32219, 32080, 31715, 32400, 32069, 32023, 32421, 32227,
       32209, 31711, 31703, 32070, 32201, 31823, 32041, 32212, 32419,
       32007, 32022, 32076, 32061, 31815, 32405, 31714, 31704, 32223,
       32207, 31702, 32059, 31814, 32030, 32407, 32411, 32409, 32211,
       32042, 32005, 31504, 31819, 32228, 31660, 31716, 31717, 31008,
       32051,     0, 32423, 31824, 31825, 31718])

In [13]:
len(trips['End station'].unique())

664

In [11]:
len(stations.name.unique())

697

In [9]:
stations.head(5)

,short_name,capacity,name,region_id,lat,lon
0,31000,15,Eads St & 15th St S,41.0,38.858971,-77.053230
1,31002,17,Crystal Dr & 20th St S,41.0,38.856425,-77.049232
2,31003,16,Crystal Dr & 15th St S,41.0,38.861056,-77.049417
3,31004,12,Aurora Hills Cmty Ctr / 18th St & S Hayes St,41.0,38.857866,-77.059490
4,31005,19,Pentagon City Metro / 12th St & S Hayes St,41.0,38.862303,-77.059936