In [ ]:
# Librería para instalar y leer archivos rds
#! pip install pyreadr

In [1]:
import pandas as pd
import numpy as np


import matplotlib.pyplot as plt
import seaborn as sns

import datetime as dt

plt.rcParams["figure.figsize"] = (10,8)

In [3]:
df = pd.read_pickle("Datos/bikes_eda.pkl")
df.head()

,instant,dteday,year,month,weekday,workingday,weathersit,temp,windspeed,casual,registered,count_bikes
0,1,2018-01-01,0,1,6,0,2,14.110847,10.749882,331,654,985
1,2,2018-02-01,0,1,0,0,2,14.902598,16.652113,131,670,801
2,3,2018-03-01,0,1,1,1,1,8.050924,16.636703,120,1229,1349
3,4,2018-04-01,0,1,2,1,1,8.200000,10.739832,108,1454,1562
4,5,2018-05-01,0,1,3,1,1,9.305237,12.522300,82,1518,1600

2018

Monday, January 1, 2018: New Year’s Day
Monday, January 15, 2018: Martin Luther King Jr.’s Birthday
Monday, February 19, 2018: Washington’s Birthday
Monday, April 16, 2018: DC Emancipation Day
Monday, May 28, 2018: Memorial Day
Wednesday, July 4, 2018: Independence Day
Monday, September 3, 2018: Labor Day
Monday, October 8, 2018: Columbus Day
Monday, November 12, 2018: Veterans Day*
Thursday, November 22, 2018: Thanksgiving Day
Tuesday, December 25, 2018: Christmas Day

In [6]:
lista_2018 = ["2018-01-01", "2018-15-01", "2018-19-02", "2018-16-04", "2018-28-05", "2018-04-04",
              "2018-03-09", "2018-08-10", "2018-12-11", "2018-22-11", "2018-25-12"]

2019

Tuesday, January 1, 2019: New Year’s Day 
Monday, January 21, 2019: Martin Luther King, Jr.’s Birthday 
Monday, February 18, 2019: Washington’s Birthday 
Tuesday, April 16, 2019: DC Emancipation Day 
Monday, May 27, 2019: Memorial Day 
Thursday, July 4, 2019: Independence Day 
Monday, September 2, 2019: Labor Day 
Monday, October 14, 2019: Columbus Day 
Monday, November 11, 2019: Veterans Day 
Thursday, November 28, 2019: Thanksgiving Day 
Wednesday, December 25, 2019: Christmas Day

In [ ]:
lista_2019 = ["2019-01-01", "2019-21-01", "2019-18-02", "2019-16-04", "2019-27-05", "2019-04-07", 
              "2019-02-09", "2019-14-10", "2019-11-11", "2019-28-11", "2019-25-12"]

In [10]:
df.dtypes

instant                 int64
dteday         datetime64[ns]
year                 category
month                category
weekday              category
workingday           category
weathersit           category
temp                  float64
windspeed             float64
casual                  int64
registered              int64
count_bikes             int64
dtype: object

In [8]:
df[df["dteday"].isin(lista_2018)]

Empty DataFrame
Columns: [instant, dteday, year, month, weekday, workingday, weathersit, temp, windspeed, casual, registered, count_bikes]
Index: []